<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.demotoast" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DemoToast</name>
    <js-module name="DemoToast" src="www/DemoToast.js">
        <clobbers target="cordova.plugins.DemoToast" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DemoToast">
                <param name="android-package" value="cordova.plugin.demotoast.DemoToast" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/DemoToast.java" target-dir="src/cordova/plugin/demotoast/DemoToast" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DemoToast">
                <param name="ios-package" value="DemoToast" />
            </feature>
        </config-file>
        <source-file src="src/ios/DemoToast.m" />
        <source-file src="src/ios/DemoToast.h" />
    </platform>
</plugin>